body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
  }
  
  #display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    cursor: pointer;
  }
  
  button.operator {
    background-color: #f39c12;
  }
  
  button.zero {
    grid-column: span 2;
  }
  
  button#delete {
    background-color: #e74c3c;
  }
  
  button:hover {
    background-color: #444;
  }
  